div.nav-button {
    display: inline-block;
}

.button-holder {
    display: inline-block;
}

.client-edit {
    display: none;
}

div.custom-sidebar {
    position: fixed;
    top: 70px;
    height: 100%;
    width: 280px;
}

div.custom-content {
    margin-left: 285px;
}

div.invalid-entry {
    display: none;
}
